Repository osscameroon/yotas, pull requests merged in 2021-09, with the labels that each got.

#63 feat(oauth): gitHub oauth + some cleaning
  backend/.env.example
  backend/app/auth/handlers.go
  backend/app/auth/models.go
  backend/app/auth/routers.go
  backend/app/auth/users_db.go
  backend/app/organisation/articles_db.go
  backend/app/organisation/articles_handlers.go
  backend/app/organisation/organisations_db.go
  backend/app/organisation/organisations_handlers.go
  backend/app/organisation/pictures_db.go
  backend/app/settings.go
  backend/go.mod
  backend/go.sum
  docs/api/yarn.lock
Labels: Backend, Database

#68 feat(backend): get user by id
  backend/app/auth/handlers.go
  backend/app/auth/routers.go
Labels: Backend, need review

#58 feat(backend): added orders crud + Operations creation(including automatic wallet debit+credit)
  backend/app/organisation/articles_db.go
  backend/app/organisation/models.go
  backend/app/organisation/operations_db.go
  backend/app/organisation/orders_db.go
  backend/app/organisation/orders_handlers.go
  backend/app/organisation/routers.go
  backend/migrations/001_initial.sql
Labels: Backend, Database

#69 setup dev environment
  .gitignore
  Makefile
  backend/Makefile
  backend/README.md
  backend/dev/scripts/wait-for-it/wait-for-it.sh
  backend/dev/setup-postgres/env
  backend/dev/setup-postgres/fixtures/yotas_organisations_users.sql
  backend/dev/setup-postgres/fixtures/yotas_public_articles.sql
  backend/dev/setup-postgres/fixtures/yotas_public_articles_pictures.sql
  backend/dev/setup-postgres/fixtures/yotas_public_organisations.sql
  backend/dev/setup-postgres/fixtures/yotas_public_organisations_articles.sql
  backend/dev/setup-postgres/fixtures/yotas_public_pictures.sql
  backend/dev/setup-postgres/fixtures/yotas_users.sql
  backend/dev/setup-postgres/fixtures/yotas_wallets.sql
  backend/dev/setup-postgres/setup-postgres.sh
  backend/dev/setup-postgres/sql_file_ordered.txt
  backend/docker-compose.yml
  backend/scripts/connect_to_postgres.sh
  backend/scripts/drop_yotas_tables.sh
  backend/scripts/goose_down.sh
  backend/scripts/goose_up.sh
Labels: need review

#70 feat(backend): refacto + fix future cycle imports
  backend/app/auth/handlers.go
  backend/app/auth/models.go
  backend/app/auth/users_db.go
  backend/app/db.go
  backend/app/models.go
  backend/app/organisation/organisations_db.go
  backend/app/organisation/pictures_db.go
  backend/app/organisation/routers.go
  backend/app/shop/articles/articles_db.go
  backend/app/shop/articles/articles_handlers.go
  backend/app/shop/articles/routers.go
  backend/app/shop/orders/operations_db.go
  backend/app/shop/orders/orders_db.go
  backend/app/shop/orders/orders_handlers.go
  backend/app/shop/orders/routers.go
  backend/app/utils.go
  backend/main.go
Labels: Backend, need review

#75 fix(backend): fix changes on sql cmd in orders due to refacto of #70
  backend/app/shop/orders/orders_db.go
Labels: Backend

#74 feat(docs): update api specification
  docs/api/static/api/specs.yaml
Labels: Docs
