Repository osscameroon/yotas, pull requests merged in 2021-05, with the labels that each got.

#7 Initialize Frontend
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/common/.common
  frontend/src/components/layout/footer.tsx
  frontend/src/components/layout/header.tsx
  frontend/src/components/layout/layout.tsx
  frontend/src/images/.logo
  frontend/src/index.scss
  frontend/src/index.tsx
  frontend/src/pages/Home.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/src/shared/.shared
  frontend/src/utils/.utils
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: Frontend

#27 Setup golangci lint
  .github/workflows/backend-lint.yaml
  Makefile
  backend/.golangci-errcheck-exclude.txt
  backend/.golangci.yml
  backend/Makefile
  backend/main.go
  githooks/pre-push
Labels: DevOps

#15 Yotas Migrations
  backend/.gitignore
  backend/migrations/001_initial.sql
Labels: Backend, Database

#26 Yotas Models
  backend/auth/models.go
  backend/go.mod
  backend/go.sum
  backend/moduletemplate/handlers.go
  backend/moduletemplate/middleware.go
  backend/moduletemplate/model.go
  backend/moduletemplate/utils.go
  backend/organisation/models.go
Labels: Backend
